<ion-view>
	<ion-nav-title class="light">
		Rooms
	</ion-nav-title>
	<ion-nav-buttons side="secondary">
		<button class="button button-dark button-icon-dark icon ion-refresh"
				ng-click="loadRooms()">
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-dark button-icon-dark" ng-click="filterClick()">
			{{filterOn ? "Filtered" : "All"}}
		</button>
	</ion-nav-buttons>

	<ion-content delegate-handle="mainScroll">
		<ion-list>
			<ion-item class="roomCard item-thumbnail-left item-icon-right"
					  ng-repeat="r in rooms | filter:filterFn"
					  href="#/tab/home-roomschedule/{{r.id}}">

			<div room-card></div>
	    	<i class="icon ion-chevron-right" style="float:right;"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
